@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
 body
 	font-size 16Px
.header
	height 353px
	position relative
	img
		display block
		width 100%
	.btn
		position absolute
		bottom 0
		left 50%
		display block
		width 266px
		margin-left -133px
		img
			width 100%
			display block
	.back
		position absolute
		left 30px
		top 30px
		padding-left 25px
		font-size 22px
		color #fff
		line-height 26px
		height 26px
		background url('../img/back.png') left center/auto 100% no-repeat
.main
	margin-top -22px
	padding-top 20px
	background url("../img/icon2.png") left top/100% auto no-repeat
	&.bg-n
		background none
	.list
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content space-around
		.item
			margin-top 30px
			width 213px
			height 213px
			background url(../img/1.png) center center/100% 100% no-repeat
			font-size 12px
			color #fff
			text-align center
			p
				color #f3ff33
				padding-bottom 0px
			.text
				height 55px
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				flex-direction column
				align-items center
				justify-content center
				background #e91616
				width 100%
				h3
					font-size 19px
			.layout
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items flex-end
				justify-content center
				margin 10px
				width calc(100% - 20px)
				height calc(100% - 20px)
				overflow hidden
				border-radius 50%
				background url(../img/icon4.png) center center/100% 100% no-repeat
	.scroll-wrap
		margin 40px 75px
		height 370px
		border-radius 5px
		font-size 22px
		color #666666
		line-height 2
		text-align center
		.wrap
			width 100%
			height 100%
			overflow hidden
		span
			padding 0 10px
			color #ffcf2e
			&.red
				color #e91616
			&.blue
				color #4a89f0
	.link-group
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		border-bottom 1px solid #cdcdcd
		background #e8e8e8
		a
			flex 0 0 33.33%
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
			box-sizing border-box
			font-size 28px
			color #222222
			line-height 100px
			height 100px
			border-top 1px solid #cdcdcd
			border-right 1px solid #cdcdcd
			&:nth-child(3n)
				border-right none
			img
				display block
				padding-right 10px
			.w48
				width 48px
			.w42
				width 42px
			.w50
				width 50px
			.w41
				width 41px
			.w49
				width 49px
	.child-page
		padding 0 15px
		h3
			padding 50px 0 40px
			font-size 32px
			color #d40017
			text-align center
			border-bottom 1px dotted #dcdcdc
		.content
			padding 30px 15px 50px
			font-size 20px
			color #222222
			line-height 2
			.pt30
				padding-top 30px
		.form
			width 708px
			margin 0 auto 20px
			border 1px solid #424c79
			border-radius 5px
			padding-top 30px
			background #dbdbdb
			form
				display block
			.row
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				padding-bottom 30px
				height 60px
				align-items center
				justify-content flex-start
				font-size 20px
				color #111111
				.w20
					width 204px
					min-height 1px
					text-align right
				.w80
					position relative
					width 385px
					height 60px
					background #fff
					border-radius 5px
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					align-items center
					justify-content flex-start
					.code
						position absolute
						right 10px
						top 50%
						transform translateY(-50%);
						width 80px
					&.submit
						width 330px
						height 80px
						border-radius 10px
						background linear-gradient(to bottom,#f9c900 0%,#ee6a00 100%) center top /100% 100% no-repeat
						input
							width 100%
							height 100%
							background none
							padding 0
							line-height 80px
							text-align center
							font-size 32px
							color #fff
							cursor pointer
					input
						background none
						outline none
						border none
						font-size 20px
						color #000
						line-height 26Px
						padding 10px
						height 26Px
						box-sizing border-box
						width 100%
						&::placeholder
							color #8d8d8d
